ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4682B4;
}

li {
	margin: 0 0 0 380px;
}

li a {
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
  	float: left;
  	text-align: center;
  	margin-left: 5px;
}

li a:hover {
	background-color: #09487c;
}

.Titulo {
	text-align: center;
}

.Corpo {
	text-align: left;
	margin: 0 0 0 460px;
	border: 1px solid;
	width: 400px;
	height: 760px;
	background-color: #B0C4DE;
}

.Corpo h3 {
	font-size: 15px;
	margin: 10px 0 0 20px;
}

#Local {
	margin: 2px 0 0 20px;
	width: 350px;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
}

#Status {
	margin: 2px 0 0 20px;
	width: 350px;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
}

#Resposta {
	margin: 2px 0 0 20px;
	width: 350px;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
}

#listaProblemas {
	margin: 2px 0 0 20px;
	width: 356px;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
}

#Descricao {
	margin: 2px 0 0 20px;
	width: 350px;
	height: 150px;
	text-align: left;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
}

#btnEnviar {
	width: 170px;
	height: 30px;
	margin: 15px 0 0 120px;
	color: white;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #0619c0;
    -moz-box-shadow: 1px 1px 2px #0619c0;
    -webkit-box-shadow: 1px 1px 2px #0619c0;
    background: #0619c0; 
    border:1px solid #000000;
}

#btnEnviar:hover {
    background: #1c31f0;
}

#imgVisualizar {
	width: 250px; 
	height: 250px; 
	border: 1px solid;
	margin: 10px 0 0 75px;
}